.chatting-user {
  display: flex;
}

.chatting-user > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  text-decoration: none;
  color: var(--mainBlack);
}

.chatting-user > a:hover {
  color: white;
}

#chatting-group {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 5px;
}

#chatting-group > img {
  margin: 2px;
}

.arrival-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}

.arilm-circle {
  background-color: tomato;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
  animation: ringCircle 1s linear infinite;
}

@keyframes messageBlock {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
    opacity: 0;
  }
}

.block {
  animation: messageBlock 0.5s 2s forwards;
}
