@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

@import "reset.css";
@import "rootOption.css";
/*components box*/
@import "components/no-mobile.css";
@import "components/status-bar.css";
@import "components/sidebar.css";
@import "components/header__container.css";
@import "components/searchFriendsBar.css";
@import "components/user-contents.css";
@import "components/user-imformation.css";
/*screen*/
@import "screen/index.css";
@import "screen/friends.css";
@import "screen/chats.css";
@import "screen/mores.css";
@import "screen/chatting.css";

body {
  font-family: "Dancing Script", cursive;
  padding: 0 var(--sidepadding);
  background-image: url("https://images.pexels.com/photos/2470655/pexels-photo-2470655.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: 120% 120vh;
}

#screen {
  display: flex;
}

/*scroll none*/
::-webkit-scrollbar {
  display: none;
}
