.searchFriendsBar {
  border: 1px solid black;
  border-radius: 30px;
  margin: var(--notLeftMargin);
  display: flex;
  background-color: var(--mainBlack);
  width: 90%;
}

.search {
  color: white;
  padding: 0 10px;
}

.searchFriendsBar input {
  border: none;
  color: white;
  background: none;
  width: 100%;
  outline: none;
}

.searchFriendsBar input::placeholder {
  color: white;
  font-weight: 600;
}
