@keyframes changingColor {
  0% {
    color: rgba(255, 0, 0, 0.7);
  }
  50% {
    color: rgba(255, 255, 255, 1);
  }
  100% {
    color: rgba(255, 0, 0, 0.7);
  }
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  right: 0;
  animation: changingColor 3s ease-in-out infinite;
}

.status-bar__boxs {
  width: 33%;
}

.material-icons {
  font-size: 30px;
  margin-left: 5px;
}

.giga {
  font-size: 40px;
}

.status-bar__boxs:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__boxs:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
