/*user bg*/
#character__star {
  background-image: url("https://cdn.mos.cms.futurecdn.net/7BHv7n2L3KJNuRgDDbaJVf-1200-80.jpg");
}

#character__sun {
  background-image: url("https://static01.nyt.com/images/2019/11/05/science/28TB-SUNSET1/merlin_163473282_fe17fc6b-78b6-4cdd-b301-6f63e6ebdd7a-superJumbo.jpg");
}

#character__moon {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/fantastic-moonlight-royalty-free-image-943911344-1553714433.jpg");
}

#character__aurora {
  background-image: url("https://merriam-webster.com/assets/mw/images/gallery/gal-wap-slideshow-slide/aurora-borealis-7071-bb1ac685e1fecf3a7b7bcd8abac175e6@1x.jpg");
}

#character__thunder {
  background-image: url("https://storage.googleapis.com/afs-prod/media/media:85a08a74eb1b451693df7425619eaad1/2100.jpeg");
}

@keyframes showScreen {
  0% {
    transform: translateX(-500px) translateY(-500px);
  }
  100 {
    transform: none;
  }
}

.user__screen {
  animation: showScreen 0.8s linear;
}

.user-topButton {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 2px #ffff99;
}

.profile__music {
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  font-weight: 700;
  text-shadow: 1px 1px 2px white;
}

.user-information__box {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-information__box h3,
.user-information__box h6 {
  margin: 15px;
}

.user-information__box h3 {
  font-size: 50px;
}

.user-information__box h6 {
  font-size: 20px;
}

.information__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 40px;
  font-size: 25px;
}

.information__info li {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px #009688;
  cursor: pointer;
}

.information__info > li > h3 {
  margin-top: 5px;
}
