.chatting__screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #b93e0b;
  cursor: pointer;
}

.chatting-top {
  display: flex;
  align-items: center;
}

.chatting-group__room {
  display: block;
  width: 60px;
  height: 60px;
}

.chatting-img__sm {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-right: 10px;
}

.chatting-img__smist {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.chatting__name {
  color: black;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 2px 6px 2px gray;
}

.chatting__subtitle > .material-icons,
.chatting-top__icons > .material-icons {
  font-size: 20px;
  margin: 5px 1px;
}

.chatting-top__icons > a,
.chatting-top__icons > a > span {
  text-decoration: none;
  font-size: 20px;
  color: #b93e0b;
}
